<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.assistant.windfall.mbg.mapper.TeacherMapper">
    <resultMap id="TeacherDao" type="com.assistant.windfall.dao.TeacherDao">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="idCard" property="idCard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="orgId" property="orgId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="obtainTeacherById" resultMap="TeacherDao">
        SELECT id, username, password, idCard, phone, email, openid, orgId, status
        FROM Teacher
        WHERE id = #{id}
    </select>

    <select id="listTeacher" resultMap="TeacherDao">
        SELECT id, username, password, idCard, phone, email, openid, orgId, status
        FROM Teacher
    </select>

    <insert id="insertTeacher"
            parameterType="com.assistant.windfall.dao.TeacherDao"
            flushCache="true"
            statementType="PREPARED"
            keyProperty="id"
            useGeneratedKeys="true"
            timeout="20">
        INSERT INTO Teacher(username, password, idCard, phone, email, openid, orgId, status)
        VALUES(#{username}, #{password}, #{idCard}, #{phone}, #{email}, #{openid}, #{orgId}), #{status}
    </insert>
</mapper>