server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/assistant?useUnicode=true&characterEncoding=utf-8
    username: root
    password: 123456

mybatis:
  mapper-locations:
    - classpath:mapper/*.xml
    - classpath*:com/**/mapper/*.xml
